.footer{
  background-color: #3f3e3e;height:160px;min-width: 950px;
  text-align: center;padding:20px 0;color: #b1b1b1;font-family: Microsoft YaHei;
}
.footer .footer-cr{margin-bottom: 30px}
.footer a{color: #b1b1b1;}
.footer .link{
  cursor: pointer;color: white;
  font-size: 18px;padding:0 5px;
}
.footer .footer-record .record-img{
  background: url("./../assets/footer_logo.png") no-repeat;
  background-position: -58px 0;
  background-size:200px 64px;
  display: inline-block;
  height: 26px;width: 20px;
  vertical-align: middle;
}
