/*goods*/
.my-content{min-height: 600px;}
.my-content .bg-purple {position: relative;}
.my-content .search-div {
  width: 275px;
  height: 35px;
  position: absolute;
  top: 5px;
  right: -37px;
  z-index: 1;
}
.my-content .search-div button {
  width: 51px;
  height: 28px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.my-content .search-div button:hover {
  background-color: #f65c29;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.my-content .goods-nodate{height: 148px;background-color: #f7f7f7;margin-top: 25px;}
.my-content .goods-nodate .g-nodate{
  text-align: center;height: 25px;line-height: 25px;
  color: #ff4b33;font-size: 12px;background-color: #fcedec;
}
/*分页*/
.my-content .goods-page{
  position: relative;
  margin-top: 10px;
  height: 22px;
  border:1px solid #e8e8e8;
  padding: 10px 0 !important;
}
.my-content .goods-page .el-pagination{
  position: absolute;right: 0;
  top: 5px;
}

/*GoodsItem*/
.goodsitem table{border: 1px solid #e8e8e8;}
.goodsitem table a {text-decoration: none;color: #3c3c3c;}
.goodsitem table a:hover {text-decoration: none;color: #ff4200;}
.goodsitem table tr.tr-center td{
  line-height: 1;
  text-align: center;
  vertical-align: top;}
.goodsitem .goods-item-table,.goods-item-table tr,.goods-item-table td {
  border-collapse: collapse;
}
.goodsitem .goods-item-table {
  color: #3c3c3c;
  font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
  margin-top: 10px;
}
.goodsitem .tr-detail-hd {
  height: 42px;
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
}
.goodsitem .tr-detail-hd .order-time-num {
  margin-left: 12px;
}
.goodsitem .tr-detail-hd .order-time-num label {
  margin-left: 5px;
}
.goodsitem .tr-detail-hd .order-time-num .order-num {
  margin-left: 10px;
}
.goodsitem .tr-detail-hd .shop-img-name .g-shop-img{
  width: 16px;
  height: 16px;
  margin-left: 12px;
  margin-right: 3px;
  vertical-align: middle;
  border-radius: 25px;
}
.goodsitem .tr-detail-hd .shop-img-name .g-shop-name{
  display: inline-block;
  width: 127px;
  line-height: 16px;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: bold;
  color: #F56C6C;
}
.goodsitem .tr-center .g-shop-img{
  float: left;
  margin: 12px;
}
.goodsitem .tr-center .g-shop-img img{
  width: 80px;
  height: 80px;
}
.goodsitem .tr-center .g-shop-cont{
  margin-left: 90px;
  text-align: left;
}
.goodsitem .tr-center .p-clr{color: #9c9c9c;}
.goodsitem .span-a:hover{
  text-decoration: underline;
  color: #ff4200;
  cursor: pointer;
}
.goodsitem table tr:last-child{height: 42px;}
.goodsitem table tr:last-child td{
  vertical-align: middle;
}
.goodsitem table tr:last-child td:first-child{
  text-align: left;
  padding-left: 25px;
}

/*GoodsDetail*/
ul,li{list-style: none;}
.goodsdetail .appTop,.appTop a,.appDetailPanel{font-size: 14px;color: #666;}
.goodsdetail .appTop a:hover{color: #f65d29;}
.goodsdetail .appTop{margin-bottom: 15px;padding-top: 10px;border-top: 1px solid #ccc;}
.goodsdetail .appTop span.last{color: #f65d29;font-weight: bolder;}
/*内容*/
.goodsdetail table{border: 1px solid #e8e8e8;margin-bottom: 15px;}
.goodsdetail table tr.tr-center td{
  line-height: 1;
  text-align: center;
}
.goodsdetail table tr.tr-center.tb-hd{height: 35px}
.goodsdetail .tr-center .g-cont-p{color: #666}
.goodsdetail .bought-form-table tr,.trade-status-table tr td{
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #ececec;
}
.goodsdetail table,table tr,table tr td{border-collapse:collapse;}
.goodsdetail table tr td .bought-sign{
  display: inline-block;
  width: 247px;
  line-height: 16px;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
.goodsdetail table tr td.border-result{border-left: 1px solid #ececec;}
.goodsdetail .detail-list-tr td ul{
  margin: 0;
  padding: 0;
}
.goodsdetail .detail-list-tr td ul li div{
  display: inline-block;
  padding-bottom: 15px;
}
.goodsdetail .detail-list-tr td ul li .trade-imfor-dt{padding-left: 15px;}
.goodsdetail .trade-imfor-dd .ww-online{
  background-position: -80px 0;
}
.goodsdetail .trade-imfor-dd a{
  width: 20px;
  height: 20px;
  text-decoration: none !important;
  background-image: url("../../static/cs-130-60.gif");
}
.goodsdetail .trade-imfor-dd span{
  line-height: 20px;
}
.goodsdetail .trade-imfor-dd a span{
  display: none;
}
.goodsdetail .trade-imfor-dd .ww-inline{
  display: inline-block;
  vertical-align: text-bottom;
}
.goodsdetail .trade-status-table tr td .detailBlock{padding-left: 25px;}
.goodsdetail .detailBlock dl dt,.detailBlock dl dd{display: inline-block;}
.goodsdetail .detailBlock .trade-detail-imfor{
  height: 36px;
}
.goodsdetail .trade-detail-imfor .imfor-icon {
  display: inline-block;
  vertical-align: middle;
}
.goodsdetail .trade-detail-imfor .imfor-title{
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  vertical-align: middle;
  margin-left: 10px;
}
.goodsdetail .trade-detail-prompt{margin:25px 0 0 25px;}
.goodsdetail .trade-detail-prompt .dotted-node{display: inline-block;vertical-align: top;margin-bottom: 5px;}
.goodsdetail .trade-detail-prompt .trade-detail-main{display: inline-block;width: 577px;}
.goodsdetail .trade-detail-operate dl dt{
  width: 127px;
  text-align: center;
}
