body{
    margin: 0px !important;
    padding: 0px !important;
}
//////导航栏

#menu-home-btn{
    position: absolute;
    left: 11px;
}
@media (min-width: 970px) { 
    #menu-home-btn{
        position: absolute;
        left: 120px;
    } 
    #icon-home{
        position: absolute;
        left: 119px !important;
        line-height: 36.8px !important;
        color: #f65d29;
        z-index: 9999;
    }
    #my-menu{
        position: relative;
        display: flex !important;
        flex-direction:row-reverse !important;
        padding-right: 120px !important;
        height: 36.8px !important;
    }
  }
a{
    text-decoration: none;
}
#my-menu{
    position: relative;
    display: flex !important;
    flex-direction:row-reverse !important;
    padding-right: 10px;
    height: 36.8px !important;
}
#my-menu .el-menu-item{
    height: 36.8px !important;
    line-height: 36.8px !important;
    font-size: 12px !important;
}

#my-menu .el-submenu__title{
    height: 36.8px !important;
    line-height: 36.8px !important;
    font-size: 12px !important;
}
#icon-home{
    position: absolute;
    left: 10px;
    line-height: 36.8px !important;
    color: #f65d29;
    z-index: 9999;
}
.el-menu--horizontal ul{
    min-width: 80px !important;
    width: 110px !important;
}
.el-menu--horizontal .el-menu li{
    height: 36.8px !important;
    line-height: 36.8px !important;
    font-size: 12px !important;
    text-align: center !important;
    width: 100% !important;
    margin: 0px !important;
}
.body-head{
    height: 95px;
}
.body-head img{
    padding: 20px 0px;
    height: 48px !important;
}
.body-head-title{
    display:inline-block;
    position: relative;
    top:-38px;
}
.title-line-y{
    color: rgb(233, 233, 233) !important;
    margin-right: 40px;
}
#title-span{
    font-weight: 100 !important;
    font-size: 22px;
    position: relative;
    top:2px;
}
.top-input-class{
    height: 36px;
    margin-left: 200px;
    position: relative;
    top: -5px;
}
.top-input-class input{
    margin-left: 30px;
    outline: none;
    -webkit-appearance: none;
    height: 30px !important;
    width: 370px !important;
    line-height: 24px !important;
    border: 2px #f65d29 solid;
    border-left: 0px;
}
.top-input-class input::-webkit-input-placeholder{
    color:#ddd;
}
.top-input-class div{
    margin-left: 30px;
    height: 32px !important;
    width: 30px !important;
    line-height: 24px !important;
    border: 2px #f65d29 solid;
    border-left: 0px;
    border-right: 0px;
    position: relative;
    left: 90px;
    top:36px;
}
.top-input-class div i{
    font-size: 20px;
    color: #ddd;
    margin: 5px;
    position: relative;
}
.top-input-class button{
    height: 36px;
    outline: none;
    -webkit-appearance: none;
    width: 120px;
    font-size: 17px;
    font-weight: 200;
    background-color:  #f65d29;
    color: #ffffff;
    float: left;
    border: 2px #f65d29 solid;
    cursor: pointer;
}


