body{
    margin: 0px !important;
    padding: 0px !important;
}
//////导航栏
#menu-home-btn{
    position: absolute;
    left: 11px;
}
@media (min-width: 970px) { 
    #menu-home-btn{
        position: absolute;
        left: 120px;
    } 
    #icon-home{
        position: absolute;
        left: 119px !important;
        line-height: 36.8px !important;
        color: #f65d29;
        z-index: 9999;
    }
    #my-menu{
        position: relative;
        display: flex !important;
        flex-direction:row-reverse !important;
        padding-right: 120px !important;
        height: 36.8px !important;
    }
  }
a{
    text-decoration: none;
}
#my-menu{
    position: relative;
    display: flex !important;
    flex-direction:row-reverse !important;
    padding-right: 10px;
    height: 36.8px !important;
}
#my-menu .el-menu-item{
    height: 36.8px !important;
    line-height: 36.8px !important;
    font-size: 12px !important;
}

#my-menu .el-submenu__title{
    height: 36.8px !important;
    line-height: 36.8px !important;
    font-size: 12px !important;
}
#icon-home{
    position: absolute;
    left: 10px;
    line-height: 36.8px !important;
    color: #f65d29;
    z-index: 9999;
}
.el-menu--horizontal ul{
    min-width: 80px !important;
    width: 110px !important;
}

.el-menu--horizontal .el-menu li{
    height: 36.8px !important;
    line-height: 36.8px !important;
    font-size: 12px !important;
    text-align: center !important;
    width: 100% !important;
    margin: 0px !important;
}
.body-head img{
    padding: 20px 0px;
    height: 48px !important;
}
.body-head-title{
    display:inline-block;
    position: relative;
    top:-38px;
}
.title-line-y{
    color: rgb(233, 233, 233) !important;
    margin-right: 40px;
}
#title-span{
    font-weight: 100 !important;
    font-size: 22px;
    position: relative;
    top:2px;
}

