.login-container{
    display: flex;
    width: 100% !important;
    height: 500px !important;
    background-color: #f7f7f7;
}
.login-bigpic{
    width: 50%;
    height: 80%;
    margin-top: 5%;
    margin-left: 6%;
}
.login-table{
    width: 26%;
    height: 50%;
    background-color: #fff;
    border: 1px #f7f7f7 solid;
    margin-top: 10%;
    margin-left: 5%;
}
.tab{
    font-size: 16px;
    font-weight: 700;
    margin-left: 10%;
    margin-top: 4%;
    width: 80%;
    height: 36px;
    line-height: 36px;
    color: #999;
    text-align: center;
    display: flex;
}
.active{
    color: #000;
    border-bottom: 2px solid #f65d29 !important;
}
.tab div{
    cursor: pointer;
    width: 50%;
    border-bottom: 2px solid #fff;
}
.tab-register .tab-login-text{
    font-size: 16px;
    font-weight: 700;
    margin-top: 10%;
    margin-left: 20%;
}
.res-tab{
    margin-top: 100px;
    height: 310px;
}
.login-table .phoneInput{
    margin-top: 10px;
    width: 80%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    padding-left: 2%;
    margin-left: 8%;
}
.login-table .pasInput{
    margin-top: 2%;
    width: 80%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    padding-left: 2%;
    margin-left: 8%;
}

.login-table .idenCodeInput{
    width: 45%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    padding-left: 2%;
    margin-left: 8%;
    margin-top: 2%;
}
.login-table .getIdenInput{
    background: 0 0;
    color: #666;
    margin-top: 2%;
    width: 33%;
    border: 1px solid #ccc;
    height: 31px;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
}
.checkbox-group{
    display: flex;
    margin-left: 8%;
    margin-top: 2%;
}

.loginBtn{
    font-size: 15px;
    width: 80%;
    margin-left: 8%;
    margin-top: 3%;
    background: #f63;
    color: #fff;
    border: none;
    height: 34px;
    outline: 0;
    cursor: pointer;
    border-radius: 2px;
}
.fogotPas{
    text-decoration: underline;
    color: #8888FF;
    font-size: 13px;
    margin-top: 1%;
    float: right;
    cursor: pointer;
}
.warn{
    margin-top: 2%;
    font-size: 13px;
    color: red;
    height: 17px;
    text-align: center;
}