.login-container{
    display: flex;
    width: 1190px !important;
    height: 500px !important;
    background-color: #f7f7f7;
}
.login-bigpic{
    height: 300px;
    margin-top: 100px;
    margin-left: 120px;
}
.login-table{
    width: 290px;
    height: 364px;
    background-color: #fff;
    border: 1px #f7f7f7 solid;
    margin-top: 70px;
    margin-left: 110px;
}